@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center" style="background-color:transparent">
    <h1 class="display-4 text-white">Beings Living Well +</h1>
</div>
