@page
@model WellBeings.Pages.RetailersModel
@{
}

<h1 class="display-4 text-white text-center">Beings Living Well +</h1>
<div class="container content-box">
    <h4>Our love for berries.</h4>
    <p>
        The blackberry is an edible fruit produced by many species in the genus Rubus
        in the family Rosaceae. Blackberries are a very good source of vitamin C and manganese, and
        a good source of vitamin K. They also provide high amounts antioxidant compounds,
        anthocyanins and other flavonoids
    </p>
</div>